@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%
}

:root {
    --main-color: #34465D;
    --primary-color: #F0F0F0;
    --icon-color: #E1E1E1;
}

a {
    text-decoration: none !important;

}

a:hover {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

nav {
    background-color: var(--main-color);
    color: var(--icon-color);
}

.search_li,
.search_icon {
    display: none;
}

#form .form_row {
    position: relative;
    display: block;
    border: none;
    border-radius: 20px;
    padding: .5rem 25rem .5rem 4.5rem;
    margin: 0 3.3rem;
    background-color: #f2f2f2;
}

#form .form_row input {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 25px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: bisque;
}

#form .form_row button {
    position: absolute;
    top: 0;
    left: 14px;
    width: 26px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 1.8rem;
    color: #525151;
}

.navbar ul {
    margin: 0;
}

.navbar ul li {
    padding: 0 1.5rem;
}

.navbar ul li svg {
    width: 3rem;
    height: 3rem;
}

.navbar ul li a:before {
    content: ' ' !important;
    top: 90.2%;
    position: absolute;
    width: 0;
    height: 5px;
    border-bottom: 2px solid var(--icon-color) !important;
    transition: all .4s linear;
}

.navbar ul li a.active:before {
    width: 3%;
    margin-left: -5px;
}

.user svg {
    font-size: 3rem;
}

.user span {
    font-size: 1.5rem;
    padding-left: .2rem;
    font-weight: 600;
}

.navbar-toggler {
    border: none;
}

.toggle {
    height: 35px;
    width: 35px;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.toggle_btn {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle .common {
    position: absolute;
    height: 2.1px;
    width: 20px;
    background-color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    transform: translate(-50%, -50%);
}

.toggle .mid_line {
    top: 50%;
    transform: translate(-50%, -50%);
}

.toggle .end_line {
    top: 70%;
    transform: translate(-50%, -50%);
}

.toggle_btn:checked~.toggle .top_line {
    left: 0;
    top: 18px;
    width: 25px;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

.toggle_btn:checked~.toggle .mid_line {
    opacity: 0;
}

.toggle_btn:checked~.toggle .end_line {
    left: 0;
    top: 18px;
    width: 25px;
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
}

/* ---------responsive nav----------- */
.navbar .hidden_logo {
    display: none;
}

.navbar .hidden_ul li {
    padding: 0 1.5rem;
    display: none;
}
.navbar .hidden_ul .hidden_search svg{
    margin-top: 3px;
}
.navbar .hidden_ul .hidden_user svg {
    width: 3.7rem;
    height: 3.7rem;
}


.toggle_btn:checked~.slide {
    transform: translateX(0);
    position: fixed;
}


.slide {
    z-index: 100;
    height: 100vh;
    width: 293px;
    transition: 0.6s ease;
    right: 0;   
     top: 55px;
    padding-top: 20px;
    background-color: #E9EBEE !important;
}

.slide li:not(:last-child) {
    margin-bottom: 2rem;
}

.slide h2 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.explore_card {
    border: none !important;
    padding: 15px 20px !important;
    text-align: center !important;
    background: rgba(252, 251, 251, 0.53) !important;
    box-shadow: 0px 14px 40px rgb(0 102 255 / 9%) !important;
    border-radius: 16px !important;
}

.explore_card h5 {
    color: #5d5d5d;
    font-size: 11.1px;
    padding-top:3px;
}






/* media query */
@media only screen and (max-width:1200px) {
    html {
        font-size: 59% !important;
    }

    #form .form_row {
        padding: 0.5rem 13rem 0.5rem 4.5rem;
    }
}

@media only screen and (max-width:998px) {
    html {
        font-size: 55% !important;
    }
}


@media only screen and (max-width:992px) {
    .navbar ul li {
        padding: 0 1.7rem;
    }

    #form .form_row {
        padding: 0.2rem 6rem 0.2rem 4.5rem;
    }

}

@media only screen and (max-width:991px) {

    #form .form_row {
        display: none;
    }

    .search_li,
    .search_icon {
        display: block;
    }
}

@media only screen and (max-width:800px) {
    .navbar ul li a.active:before {
        width: 4%;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }

    .user span {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .navbar ul li a.active:before {
        width: 4%;
        margin-left: 0px;
    }
}

@media only screen and (max-width:448px) {
    .logo {
        display: none;
    }

    .user {
        display: none;
    }

    .search_li,
    .search_icon {
        display: none;
    }

    .navbar ul li {
        padding: 0 2rem;
    }

    /* ---------responsive nav----------- */
    .navbar .hidden_logo {
        display: block;
    }

    .navbar .hidden_ul li {
        display: block;
    }
    .slide {
       top: 90px;
    }
}

@media only screen and (max-width:330px) {
    .navbar ul li {
        padding: 0 1.5rem;
        margin-right: 0px;
    }
}
@media only screen and (max-width:330px) {
    .navbar ul li {
        padding: 0 1.2rem;
       
    }
}