* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}







@media only screen and (max-width:1200px) {
    html {
        font-size: 59%;
    }

}

@media only screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:991px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }
}