* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.left_bar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 75% !important;
}

.left_bar h1 {
    font-weight: 700;
    font-size: 2rem;
}

.left_bar ul {
    padding-left: 0 !important;
    padding: 1rem !important;
}

.left_bar ul li {
    padding-bottom: 0.6rem;
}

.left_bar h5 {
    padding-left: 0.6rem;
    padding-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.left_bar .add {
    padding: 5px 10px;
    border: none;
    margin-left: 18px;
    font-size: 1.3rem;
    border-radius: 6px;
}

.left_bar .add_icon {
    padding: 5px 10px;
    border: none;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 6px;
    display: none;
}

/* media query */

@media (min-width: 1199px) {

    .left_bar .add {
        padding: 5px 4px;
        margin-left: 6px;
    }
}

/* @media (min-width: 768px){
    .container {
        max-width: 976px;
    }} */
@media only screen and (max-width:966px) {
    .left_bar .add {
        padding: 5px 3px;
        margin-left: 3px;
    }
}

@media only screen and (max-width:890px) {
    .left_bar .add {
        display: none;
    }

    .left_bar .add_icon {
        display: block;
    }
}

/* 
@media (min-width: 992px){
.container{
    max-width: 1096px;
}
} */
@media only screen and (max-width:1300px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width:1200px) {
    html {
        font-size: 59%;
    }

    .left_bar .add {
        margin-left: 5px;
    }

    .left_bar {
        width: 95% !important;
    }
}

@media only screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:991px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }
}