* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.post_user_info h4 {
    font-size: 1.4rem;
    padding-top: 10px;
    font-weight: 700;
}

.post_user_info p {
    font-size: 1rem;
    color: #4b4a4a;
}
.post_row h6 {
    font-size: 1.9rem;
}
/* .dropdown-menu{
    transform: translate(-30px,689px) !important;
} */
.dropdown-menu li{
    font-size: 10px;
}
.img_row .last_img{
    position: relative;
}
.img_row .count_num{
    position: absolute;
    color: white;
    z-index: 99;
    top: 65px;
    font-weight: 900;
    font-size: 18px;
    left: 70px;
}

/* 
❤ */
@media only screen and (max-width:1300px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width:1200px) {
    html {
        font-size: 59%;
    }
    .img_row .count_num{
        top: 50px;
        left: 50px;
    }
}

@media only screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}
@media only screen and (max-width:967px) {
    .img_row .count_num {
        top: 70px;
        left: 64px;
    }
}
@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }
}
@media only screen and (max-width:568px) {
    .img_row .count_num {
        top: 60px;
        left: 64px;
    }
}
@media only screen and (max-width:568px) {
    .img_row .count_num {
        top: 50px;
        left: 54px;
    }
}
@media only screen and (max-width:550px) {
    .img_row .count_num {
        top: 70px;
        left: 64px;
    }
}
@media only screen and (max-width: 529px){
.img_row .count_num {
    top: 52px;
    left: 56px;
}
}
@media only screen and (max-width: 416px){
.img_row .count_num {
    top: 44px;
    left: 45px;
}}
@media only screen and (max-width:368px) {
.img_row .count_num {
    top: 27px;
    left: 33px;
}}