* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.sugesst_ppl_row,
.might_like{
    padding: 20px;
}
.sugesst_ppl_row h1,
.might_like h1{
    font-weight: 700;
    font-size: 2rem;
}
.sugesst_ppl_row h5,
.might_like_row span {
    font-size: 1.5rem;
    font-weight: 700;
}
.might_like_row h5{
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    font-weight: 600;
}
.sugesst_ppl_row .add {
    padding: 5px 10px;
    border: none;
    font-size: 1.3rem;
    border-radius: 6px;
}



@media only screen and (max-width:1200px) {
    html {
        font-size: 59%;
    }
}

@media only screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:991px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }
}

